/* body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  

  
  #horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #horizontal-menu li {
    float: left;
  }
  
  #horizontal-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #horizontal-menu li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
 */ *

 .navbar {
    overflow: hidden;
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;

 }

 .navbar a {
    float: left;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 } 

.dropdown{

    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: wheat;
    padding: 14px 16px;
    background-color: green;
    margin: 0:
}
